@model IList<CompetitorViewModel>

@section Links {
    <link rel="stylesheet" href="~/css/Admin.css" />
}
@{
    ViewData["Title"] = "Admin";
}

@for (var i = 0; i < Model.Count; i++) 
{
    var competitor = Model[i];  
    
    <form class="competitor-edit" method="Post" asp-controller="Home" asp-action="UpdateCompetitor"> 
        <input type="text" name="Id" class="hidden" value="@competitor.Id">

        <label for="Name">Name:</label>
        <input type="text" name="Name" value="@competitor.Name">

        <label for="Age">Age:</label>
        <input type="text" name="Age" value="@competitor.Age">

        <label for="Description">Description:</label>
        <input type="text" name="Description" value="@competitor.Description">

        <label for="PictureUrl">PictureUrl:</label>
        <input type="text" name="PictureUrl" value="@competitor.PictureUrl">

        <label for="MusicalInstrument">MusicalInstrument:</label>
        <input type="text" name="MusicalInstrument" value="@competitor.MusicalInstrument">

        <label for="VideoUrl">VideoUrl:</label>
        <input type="text" name="VideoUrl" value="@competitor.VideoUrl">

        <div class="submit-container">
            <input type="submit" value="Change">
        </div>
    </form>
    
}