@using Microsoft.AspNetCore.Identity
@using MusicX.Data.Models
@model IList<CompetitorViewModel>
@inject UserManager<ApplicationUser> userManager;

@section Links {
    <link rel="stylesheet" href="~/css/Dashboard.css" />
}

    @{
    ViewData["Title"] = "Dashboard";
}


@for (var i = 0; i < Model.Count; i++) 
{
    var competitor = Model[i];
    <p>@competitor.LikesCount</p>
    <div class="card">
        <div class="profile-box">
            <img src="~/assets/menu.png" class="menu-icon"/>
            <img src="~/assets/setting.png" class="setting-icon"/>
            <img src="@competitor.PictureUrl" class="profile-pic"/>
            <h3>@competitor.Name</h3>
            <p>@competitor.Description</p>
            <div class="social-media">
                <img src="~/assets/instagram.png" alt="image">
                <img src="~/assets/telegram.png" alt="">
                <img src="~/assets/dribble.png" alt="">
            </div>
            <a href=@competitor.VideoUrl target="_blank">See</a>
            <div class="profile-bottom">
                <p>Give it a like</p>                
                    @if (this.User.Identity.IsAuthenticated)
                    {                        
                        var currentUser = await this.userManager.FindByNameAsync(this.User.Identity.Name);
                        var isLikedState = currentUser.VotedTo != null && currentUser.VotedTo.Id == competitor.Id;

                        <form method="Post" asp-controller="Home" asp-action="LikeClicked">                    
                            <input type="text" name="competitorId" class="hidden" value="@competitor.Id">
                            <label for=@("submit" + i)>
                            @if (isLikedState)
                            {                                
                                <i class="fa-solid fa-heart"></i>
                            }
                            else            
                            {
                                <i class="fa-regular fa-heart"></i> 
                            }
                        </label>   
                    
                            <input class="hidden" type="text" name="isLikedState" value="@isLikedState.ToString()">
                            <input type="submit" id=@("submit" + i)  class="hidden">
                        </form>
                    }                    
            </div>
        </div> 
    </div> 
}
  